pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set Length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": "10"
				}
			},
			{
				"name": "Set bredth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "bredth",
					"value": "20"
				}
			},
			{
				"name": "Set area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set bredth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "area",
					"value": {
						"value": "@{mul(\r\n    int(variables('length')),\r\n    int(variables('bredth'))\r\n    )\r\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "String"
			},
			"bredth": {
				"type": "String"
			},
			"area": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Moment Activities/Set Variable Activity"
		},
		"annotations": []
	}
}