pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Fetch Records from user table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from user_info ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_user_info",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Filter records with usa",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetch Records from user table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Records From users Tabe').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().country,'United States' )",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Data Moment Activities/LookUP"
		},
		"annotations": []
	}
}